<div style="display: inline; padding: 15px">
    <i class="fas fa-envelope"></i>
    <a href="mailto:mail@karanjayachandra.com">Email</a>
</div>
<div style="display: inline; padding: 15px">
    <i class="fa-brands fa-gitlab"></i>
    <a href="https://gitlab.com/KaranJayachandra">Gitlab</a>
</div>
<div style="display: inline; padding: 15px">
    <i class="fa-brands fa-linkedin"></i>
    <a href="https://www.linkedin.com/in/karanjayachandra">LinkedIn</a>
</div>
<br><br>
Made with <a href="https://github.com/janraasch/hugo-bearblog/">Hugo ʕ•ᴥ•ʔ Bear</a>